---
// src/pages/test.astro
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Prueba UTF-8</title>
  </head>
  <body>
    <h1>¿Qué es OtakuPlayhub?</h1>
    <p>¡Sí, funciona bien con acentos, ñ y caracteres especiales!</p>
  </body>
</html>
